
@{
    ViewBag.Title = "Read";
}
<h3 class="text-primary">SignalR Read</h3>
<div class="panel panel-primary">
    <div class="panel-heading">Read By Signal R - @Model.ID - @Model.Name</div>
    <div class="panel-body">
        @Model.Message
    </div>
</div>
